<!DOCTYPE html>
<html lang="en">
<head>
    <title>Muninn</title>

    <meta charset="utf-8">
    <meta name="author" content="Muneen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>
<body>

    <div id="app">
        <ol>
            <li v-for="todo in todos" v-if="!todo.done || (todo.done && displayDone)">
                <input type="checkbox" v-model="todo.done">
                <span v-bind:class="{ done: todo.done }">{{ todo.text }}</span>
            </li>
        </ol>
        new todo: <textarea v-model="newTodo"> </textarea> {{ dateSave }}
            <button @Click="addNewTodo">Submit</button>
            Il y a {{ todos.length }} todos, dont {{ getDoneCount() }} accomplis.
            <input type="checkbox" v-model="displayDone">Afficher tout
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="scripts/main.js"></script>
    
</body>
</html>