<!DOCTYPE html>
<html lang="en">
<head>
    <title>Muninn</title>

    <meta charset="utf-8">
    <meta name="author" content="Muneen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="stylesheets/main.css">


</head>
<body>

    <div id="app">

        <button @click="displayNoteForm" v-if="!displayNewNoteForm" >Nouvelle note <i class="fas fa-plus"></i></button>
        <div id="note-form" v-show="displayNewNoteForm">
            <textarea id="new-note" v-model="newNote"> </textarea>
            <button @Click="addNote">Enregistrer</button>
        </div>

        <div id="note-edit" v-if="displayEditMode">
            <textarea v-model="editedNote.text"></textarea>
            <button @click="saveNote">Enregistrer</button>
        </div>

        <div id="notes-container">
            <note-preview v-for="note in notes" v-bind:note="note"></note-preview>
        </div>

    </div>

    <script type="text/template" id="note-preview-template">
        <div class="indiv-note" v-if="note.text !== ''">
            <fa-icon name="eye"></fa-icon>
            <span @click="editNote(note)"><fa-icon name="edit"></fa-icon></span>
            <div class="note-content" v-html="markdownToHtml(note.text)"></div>
            <span class="update">mis à jour le {{ note.updatedAt }}</span>
        </div>
    </script>

    <script src="scripts/extlibs/vue.js"></script>
    <script src="scripts/extlibs/moment-with-locales.js"></script>
    <script src="scripts/extlibs/showdown.min.js"></script>
    <script src="scripts/main.js"></script>
    
</body>
</html>